body {
	padding-top: 70px;
    padding-bottom: 203px
}

/*==============================
			FOOTER
==============================*/

.footer {
	background-color: #222222;
	padding: 10px 0 50px 0;
	color: #E3E3E3;
    width:100%;
    position:fixed;
    bottom:0px;
    margin-top: 203px;

}

.footer h4 {
	letter-spacing: 0.1em;
	padding-bottom: 8px;
	border-bottom: 1px solid #5cb85c;
	margin-bottom: 15px;
}


/*===================================
	RESET SLIDER SETTINGS
=====================================*/

.bx-wrapper {
    margin: 0;
    margin-bottom: 30px;
}

.bx-wrapper, .bx-viewport {
    border: none;
	left: 0;
	box-shadow: 0 0 0;
	background-color: transparent;
}

.carousel {
	margin: 0;
	padding: 0;
}

.clearfix{
    clear: both;
}

.container-principal{
    width: 1200px;
    text-align: center;
    margin-left: 100px;
}
.container{
    width: 1060px;
    margin: 0 auto;
}

.Identification, .message {
    float:left;
}

/*===================================
    Style des formulaires
=====================================*/

.formconfig, .formregister {
    margin-bottom: 15px;
}

/*===================================
    Pimp my search input !
=====================================*/

.search{
    transition: all 0.5s ease-out 0s;
    outline: none;
    border-radius: 0;
    margin-top: 7px;
    width: 60px;
    height: 20px;
    background-color: transparent;
    color: #337AB7;
    font-weight: bold;
    border: none;
    box-shadow: none; 
    margin-right: -25px;*/
}

.search:focus{
    width: 250px;
    border-bottom: solid 1px #337AB7;
}
