body {
	padding-top: 70px;
    padding-bottom: 203px
}

/*==============================
			FOOTER
==============================*/

.footer {
	background-color: #222222;
	padding: 10px 0 50px 0;
	color: #E3E3E3;
    width:100%;
    position:fixed;
    bottom:0px;
    margin-top: 203px;

}

.footer h4 {
	letter-spacing: 0.1em;
	padding-bottom: 8px;
	border-bottom: 1px solid #5cb85c;
	margin-bottom: 15px;
}

/*===================================
	RESET SLIDER SETTINGS
=====================================*/

.bx-wrapper {
    margin: 0;
    margin-bottom: 30px;
}

.bx-wrapper, .bx-viewport {
    border: none;
	left: 0;
	box-shadow: 0 0 0;
	background-color: transparent;
}

.carousel {
	margin: 0;
	padding: 0;
}

.clearfix{
    clear: both;
}

.container-principal{
    width: 1200px;
    text-align: center;
    margin-left: 100px;
}
.container{
    width: 1060px;
    margin: 0 auto;
}

.Identification, .message {
    float:left;
}

/*===================================
    Style des formulaires
=====================================*/

.panel-success > .panel-heading {
    color: #ffffff;
    background-color: #5cb85c;
}

.panel-success, .panel-success > .panel-heading {
    border-color: #449d44;
}

.formconfig, .formregister {
    margin-bottom: 15px;
}

/*===================================
<<<<<<< HEAD
    NAVIGATION
=====================================*/

.navbar-register a, .navbar-login-profile a, .navbar-logout a, .navbar-admin a {
    color: #ffffff;
    border-left: 1px solid #222222;
}
.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a:hover {
    text-decoration: underline;
}  

.navbar-register {
    background-color: #337ab7;
}

.navbar-login-profile {
    background-color: #5cb85c;
}

.navbar-logout {
    background-color: #d9534f;
}

.navbar-admin {
    background-color: #5bc0de;
}

.pagin {
    padding: 0 4px;
}

/*===================================
            Search input
=====================================*/
.search{
    transition: all 0.5s ease-out 0s;
    font-family: 'Tangerine', cursive;
    font-size: 24px;
    outline: none;
    border-radius: 0;
    margin: 7px 0 0 30px;
    width: 60px;
    height: 20px;
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    border: none;
    box-shadow: none;
}

.search:focus{
    margin: 7px 0 0 0px;
    max-width: 100%;
    border-bottom: solid 1px rgba(255, 255, 255, 1);
}

